{% extends "papBundle::layout.html.twig" %}
{% block contenido %}
    
    {%if app.user != null %}
    <div class="container jumbotron text-center">
        <h2><span>BIENVENIDO A GESTIÓN DE PASOS A PRODUCCIÓN DE LA APLICACIÓN JANO</span></h2>
    </div>
    {% else %}
    <div class="container">
        <h2>Identificación</h2><hr/>
        <form class="col-xs-4" action="{{path("login_check")}}" method="post">
            <label>Usuario</label>
            <input type="text" id="username" name="_username" value="{{last_username}}" class="form-control">
            <br/>
            <label>Contraseña</label>
            <input type="password" id="password" name="_password" class="form-control" />
            <br/>
            <input type="submit" value="Entrar" class="btn btn-success"/>
            <input type="hidden" name="_target_path" value="/login" />
            <br/>
        </form>
    </div>
    {% endif %}        
    <div class="clearfix"> </div>
{% endblock %}
