{% extends "papBundle::layout.html.twig" %} 
{% block titulo %} MODIFICACIÓN DE MODO {% endblock %}
    
{% block contenido %}
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
{% endblock %}