{% extends "papBundle::layout.html.twig" %} 
{% block contenido %}
    <div class="container jumbotron text-center">
        <h2><span>BIENVENIDO A GESTIÓN DE PASOS A PRODUCCIÓN DE LA APLICACIÓN JANO</span></h2>
    </div>
    
{% endblock %}
