{% extends "papBundle::layout.html.twig" %} 
{% block titulo %} NUEVO PASO A PRODUCCIÓN
<a href="{{path("queryPasoProd")}}" class="btn btn-success">Volver</a>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
{% endblock %}